html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: "helvetica neue";
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .panels {
    min-height: 100vh;
    overflow: hidden;  /* 自動隱藏超出的文字或圖片。 */
    display: flex;
  }
  
  .panel {
    flex: 1;
    display: flex; /*彈性調整容器內的物品*/
    flex-direction: column; /*物品/元素的方向*/
    background: #6b0f9c;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between; /*容器內元素的排列方式*/
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
  
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      /*貝茲曲線*/ flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      /* 變化字體大小 */ background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    
  }
  
  .panel1 {
    background-image: url(https://images.pexels.com/photos/9292920/pexels-photo-9292920.jpeg?auto=compress&cs=tinysrgb&w=1500&h=1500&dpr=2);
  }
  .panel2 {
    background-image: url(https://images.pexels.com/photos/17952630/pexels-photo-17952630/free-photo-of-river-and-village-in-valley.jpeg);
  }
  .panel3 {
    background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
  }
  .panel4 {
    background-image: url(https://images.pexels.com/photos/13060861/pexels-photo-13060861.jpeg?auto=compress&cs=tinysrgb&w=1500&h=1500&lazy=load);
  }
  .panel5 {
    background-image: url(https://images.pexels.com/photos/10257142/pexels-photo-10257142.jpeg?auto=compress&cs=tinysrgb&w=1500&h=1500&dpr=2);
  }
  
  .panel > * {
    /*penal內容全部都要套用這個樣式 '*'代表全部的標籤*/
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
  }
  
  .panel p {
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }
  
  .panel > *:first-child {
    /*隱藏上方文字*/
    transform: translateY(-100%);
  }
  
  .panel > *:last-child {
    /*隱藏下方文字*/
    transform: translateY(100%);
  }
  .panel.secondanime > *:first-child {
    /*顯示上方文字*/
    transform: translateY(100%);
  }
  
  .panel.secondanime> *:last-child {
    /*顯示下方文字*/
    transform: translateY(-100%);
  }
  
  .panel p:nth-child(2) {
    font-size: 4em;
  }
  
  .panel.open {
    font-size: 40px;
    flex: 3;
  }
